{{ $baseurl := .Site.BaseURL }}

<!DOCTYPE html>
<html lang="en">
    {{ template "theme/partials/head.html" . }}
    <body>
        {{ template "theme/partials/navbar.html" . }}
        <div class="container">
            <h1>{{ .Title }}</h1>
            <h5 id="wc"> {{ .FuzzyWordCount }} words by {{ .Site.Params.AuthorName }}</h5>
            <div class="row">
                <div class="post col-lg-8">
                    {{ .Content }}
                    <hr>
                </div>
                <div class="col-lg-4">
                    <div class="list-group voffset4">
                        <div class="list-group-item">
                            {{ if gt (len .Params.conferences) 1 }}
                            <h4 class="list-group-item-heading">CONFERENCES</h4>
                            {{ else }}
                            <h4 class="list-group-item-heading">CONFERENCE</h4>
                            {{ end }}
                            {{ range .Params.conferences }}
                            <div class="list-group-conference">
                                <p class="list-group-item-text"><b>{{ .name }}</b></p>
                                <p class="list-group-item-text">{{ .date.Format "Mon, Jan 2, 2006" }}</p>
                            </div>
                            {{ end }}
                        </div>
                        <div class="list-group-item">
                            <h4 class="list-group-item-heading">META</h4>
                            {{ range .Params.material }}
                            <p class="list-group-item-text">
                                <a href="{{ .url | urlize }}">{{ .name }}</a>
                            </p>
                            {{ end }}
                        </div>
                        <div class="list-group-item">
                            <h4 class="list-group-item-heading">LANG</h4>
                            <p class="list-group-item-text">{{ .Params.lang }}</p>
                        </div>                        
                    </div>
                </div>
            </div>
            {{ template "theme/partials/footer.html" . }}
        </div>
        {{ template "theme/partials/js.html" . }}
    </body>
</html>
