{{ define "main" }}
<article class="post">
  <header class="post-header">
    <h1 class="post-title">{{ .Title }}</h1>
    <div class="post-meta">

      {{- range .Params.conferences -}}
      <div>
        {{ partial "icon.html" (dict "ctx" $ "name" "calendar") }}
        {{ .date.Format "Jan 2, 2006" }} - <b>{{ .name }}</b>
      </div>
      {{- end -}}

      {{- with .Params.material -}}

      {{ range . -}}
      <div>
        {{ partial "icon.html" (dict "ctx" $ "name" "save") }}
        <a href="{{ .url }}">{{ .name }}</a>
      </div>
      {{- end -}}

      {{- end -}}
    </div>
  </header>
  <div class="post-content">
    {{ .Content }}
  </div>
  <div class="post-footer">
    {{ template "_internal/disqus.html" . }}
  </div>
</article>
{{ end }}
