// Do not add any CSS to this file in the theme sources.
// This file can be overridden to add project-specific CSS.
hr.footer {
  border: none;
}
hr.footer::before {
  content: "***";
  display: block;
  text-align: center;
}
